<template>
  <v-app>
    <v-app-bar
            app
            color="primary"
            dark
    >
      <v-spacer></v-spacer>
      <span class="mr-2" style="font-weight: bold">Excel Editor</span>
    </v-app-bar>

    <v-content>
      <v-container>
        <v-card class="justify-center" v-if="ChooseSheet != ''">
          <v-card-subtitle>
            <span style="font-weight: bold;color: blue">ข้อมูลจากตาราง ที่ 1 ที่ใช้เปรียบเทียบ</span>
          </v-card-subtitle>
          <v-card-title>
            <v-radio-group v-model="headerChoose" row>
              <v-radio class="ml-5" v-for="(header, idx) in headers" v-bind:key="idx" :label="header.text"
                       :value="header.value"></v-radio>
            </v-radio-group>
          </v-card-title>
        </v-card>
        <v-card class="justify-center" v-if="ChooseSheet2 != ''">
          <v-card-subtitle>
            <span style="font-weight: bold;color: green">ข้อมูลจากตาราง ที่ 2 ที่ใช้เปรียบเทียบ</span>
          </v-card-subtitle>
          <v-card-title>
            <v-radio-group v-model="headerChoose2" row>
              <v-radio class="ml-5" v-for="(header, idx) in headers2" v-bind:key="idx" :label="header.text"
                       :value="header.value"></v-radio>
            </v-radio-group>
          </v-card-title>
        </v-card>
        <v-card class="justify-center" v-if="ChooseSheet != ''">
          <v-card-subtitle>
            <span style="font-weight: bold;color: blue">ข้อมูลจากตาราง ที่ 1 ที่ต้องการให้ข้อมูลจากตารางที่ 2 มาแทนที่</span>
          </v-card-subtitle>
          <v-card-title>
            <v-radio-group v-model="row" row>
              <v-radio class="ml-5" v-for="(header, idx) in headers" v-bind:key="idx" :label="header.text"
                       :value="header.value"></v-radio>
            </v-radio-group>
          </v-card-title>
        </v-card>
        <v-card class="justify-center" v-if="ChooseSheet2 != ''">
          <v-card-subtitle>
            <span style="font-weight: bold;color: green">ข้อมูลจากตาราง ที่ 2 ที่ต้องการแทนที่ในตารางที่ 1</span>
          </v-card-subtitle>
          <v-card-title>
            <v-radio-group v-model="row2" row>
              <v-radio class="ml-5" v-for="(header, idx) in headers2" v-bind:key="idx" :label="header.text"
                       :value="header.value"></v-radio>
            </v-radio-group>
          </v-card-title>
        </v-card>
        <v-card class="d-flex justify-center" width="100%">
          <v-card-text class="d-flex justify-center" >
            <v-btn outlined color="green" @click="execData">
              ประมวลผลข้อมูล
            </v-btn>
          </v-card-text>
        </v-card>
        <v-card class="justify-center">
          <v-list-item>
            <v-row class="justify-center">
              <v-col
                      cols="10"
                      md="5"
              >
                <v-file-input v-model="file" show-size counter multiple
                              label="เลือกไฟล์ ที่ต้องการนำเข้า" @change="onChange"></v-file-input>

                <v-list-item v-if="sheets.length > 0">
                  <v-select
                          v-model="ChooseSheet"
                          :items="sheets"
                          item-text="name"
                          item-value="name"
                          @change="ChooseSheetAction"
                  >

                  </v-select>
                </v-list-item>

                <v-list-item v-if="ChooseSheet != ''">
                  <v-data-table
                          :headers="headers"
                          :items="desserts"
                          class="elevation-1"
                          dense
                  >
                    <!--                                        level0-->
                    <template v-slot:item.keys0="props">
                      <v-edit-dialog
                              :return-value.sync="props.item.keys0"
                              @save="save"
                              @cancel="cancel"
                              @open="open"
                              @close="close"
                      > {{ props.item.keys0 }}
                        <template v-slot:input>
                          <v-text-field
                                  v-model="props.item.keys0"
                                  label="Edit"
                                  single-line
                                  counter
                          ></v-text-field>
                        </template>
                      </v-edit-dialog>
                    </template>
                    <template v-slot:item.keys1="props">
                      <v-edit-dialog
                              :return-value.sync="props.item.keys1"
                              @save="save"
                              @cancel="cancel"
                              @open="open"
                              @close="close"
                      > {{ props.item.keys1 }}
                        <template v-slot:input>
                          <v-text-field
                                  v-model="props.item.keys1"
                                  label="Edit"
                                  single-line
                                  counter
                          ></v-text-field>
                        </template>
                      </v-edit-dialog>
                    </template>
                    <template v-slot:item.keys2="props">
                      <v-edit-dialog
                              :return-value.sync="props.item.keys2"
                              @save="save"
                              @cancel="cancel"
                              @open="open"
                              @close="close"
                      > {{ props.item.keys2 }}
                        <template v-slot:input>
                          <v-text-field
                                  v-model="props.item.keys2"
                                  label="Edit"
                                  single-line
                                  counter
                          ></v-text-field>
                        </template>
                      </v-edit-dialog>
                    </template>
                    <template v-slot:item.keys3="props">
                      <v-edit-dialog
                              :return-value.sync="props.item.keys3"
                              @save="save"
                              @cancel="cancel"
                              @open="open"
                              @close="close"
                      > {{ props.item.keys3 }}
                        <template v-slot:input>
                          <v-text-field
                                  v-model="props.item.keys3"
                                  label="Edit"
                                  single-line
                                  counter
                          ></v-text-field>
                        </template>
                      </v-edit-dialog>
                    </template>
                    <template v-slot:item.keys4="props">
                      <v-edit-dialog
                              :return-value.sync="props.item.keys4"
                              @save="save"
                              @cancel="cancel"
                              @open="open"
                              @close="close"
                      > {{ props.item.keys4 }}
                        <template v-slot:input>
                          <v-text-field
                                  v-model="props.item.keys4"
                                  label="Edit"
                                  single-line
                                  counter
                          ></v-text-field>
                        </template>
                      </v-edit-dialog>
                    </template>
                    <template v-slot:item.keys5="props">
                      <v-edit-dialog
                              :return-value.sync="props.item.keys5"
                              @save="save"
                              @cancel="cancel"
                              @open="open"
                              @close="close"
                      > {{ props.item.keys5 }}
                        <template v-slot:input>
                          <v-text-field
                                  v-model="props.item.keys5"
                                  label="Edit"
                                  single-line
                                  counter
                          ></v-text-field>
                        </template>
                      </v-edit-dialog>
                    </template>
                    <template v-slot:item.keys6="props">
                      <v-edit-dialog
                              :return-value.sync="props.item.keys6"
                              @save="save"
                              @cancel="cancel"
                              @open="open"
                              @close="close"
                      > {{ props.item.keys6 }}
                        <template v-slot:input>
                          <v-text-field
                                  v-model="props.item.keys6"
                                  label="Edit"
                                  single-line
                                  counter
                          ></v-text-field>
                        </template>
                      </v-edit-dialog>
                    </template>
                    <template v-slot:item.keys7="props">
                      <v-edit-dialog
                              :return-value.sync="props.item.keys7"
                              @save="save"
                              @cancel="cancel"
                              @open="open"
                              @close="close"
                      > {{ props.item.keys7 }}
                        <template v-slot:input>
                          <v-text-field
                                  v-model="props.item.keys7"
                                  label="Edit"
                                  single-line
                                  counter
                          ></v-text-field>
                        </template>
                      </v-edit-dialog>
                    </template>
                    <template v-slot:item.keys8="props">
                      <v-edit-dialog
                              :return-value.sync="props.item.keys8"
                              @save="save"
                              @cancel="cancel"
                              @open="open"
                              @close="close"
                      > {{ props.item.keys8 }}
                        <template v-slot:input>
                          <v-text-field
                                  v-model="props.item.keys8"
                                  label="Edit"
                                  single-line
                                  counter
                          ></v-text-field>
                        </template>
                      </v-edit-dialog>
                    </template>
                    <template v-slot:item.keys9="props">
                      <v-edit-dialog
                              :return-value.sync="props.item.keys9"
                              @save="save"
                              @cancel="cancel"
                              @open="open"
                              @close="close"
                      > {{ props.item.keys9 }}
                        <template v-slot:input>
                          <v-text-field
                                  v-model="props.item.keys9"
                                  label="Edit"
                                  single-line
                                  counter
                          ></v-text-field>
                        </template>
                      </v-edit-dialog>
                    </template>
                  </v-data-table>
                </v-list-item>
              </v-col>
              <v-divider vertical></v-divider>
              <v-col
                      cols="10"
                      md="5"
              >
                <v-file-input v-model="file2" show-size counter multiple
                              label="เลือกไฟล์ ที่ต้องการนำเข้า" @change="onChange2"></v-file-input>
                <v-list-item v-if="sheets2.length > 0">
                  <v-select
                          v-model="ChooseSheet2"
                          :items="sheets2"
                          item-text="name"
                          item-value="name"
                          @change="ChooseSheetAction2"
                  >

                  </v-select>
                </v-list-item>

                <v-list-item v-if="ChooseSheet2 != ''">
                  <v-data-table
                          :headers="headers2"
                          :items="desserts2"
                          class="elevation-1"
                          dense
                  ></v-data-table>
                </v-list-item>
              </v-col>
            </v-row>
          </v-list-item>

          <v-list-item class="d-flex justify-center" v-if="desserts.length > 0">
            <download-excel
                    class="btn btn-default"
                    :data="desserts"
                    :fields="json_fields"
                    worksheet="My Worksheet"
                    name="filename.xls">
              <v-btn>Download Excel</v-btn>
            </download-excel>
          </v-list-item>
        </v-card>
      </v-container>
    </v-content>
    <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
      {{ snackText }}

      <template v-slot:action="{ attrs }">
        <v-btn v-bind="attrs" text @click="snack = false">ปิด</v-btn>
      </template>
    </v-snackbar>
  </v-app>
</template>

<script>
  import readXlsxFile from 'read-excel-file'

  export default {
    name: 'App',

    components: {},

    data: () => ({
      json_fields: {
        'รหัสบุคลากร': 'uid',
        'ชื่อ-สกุล': 'fullname',
        'หน่วยงาน': 'dep_name',
        'ตำแหน่ง': 'pos_name',
        'ที่จอดรถ': 'parkName',
        'คะแนนตำแหน่ง': 'positionScore',
        'หอพัก': 'dorm',
        'อยู่เวร': 'work',
        'ดูแลผู้ป่วย': 'patient',
        'รวม': 'sum',
        'อายุงาน': 'worked_age',
      },
      json_data: [],
      json_meta: [
        [
          {
            'key': 'charset',
            'value': 'utf-8'
          }
        ]
      ],
      Exec: false,
      ExecData: [],
      headerChoose: null,
      headerChoose2: null,
      row: null,
      row2: null,
      snack: false,
      snackColor: '',
      snackText: '',
      max25chars: v => v.length <= 25 || 'Input too long!',
      pagination: {},
      sheets: [],
      file: null,
      headers: [],
      desserts: [],
      ChooseSheet: '',
      sheets2: [],
      file2: null,
      headers2: [],
      desserts2: [],
      ChooseSheet2: '',
    }),
    methods: {
      onChange() {
        this.sheets = []
        this.ChooseSheet = ''
        this.Exec = false
        readXlsxFile(this.file[0], {getSheets: true}).then((sheets) => {
          this.sheets = sheets
        })
      },
      ChooseSheetAction() {
        this.headers = []
        this.desserts = []
        this.Exec = false
        this.json_fields = {}
        readXlsxFile(this.file[0], {sheet: this.ChooseSheet}).then((row) => {
          row.map((items, index) => {
            var obj = {};
            items.map((data, idx) => {
              if (index == 0) {
                this.headers.push({
                  text: data,
                  value: 'keys' + idx,
                })
              } else {
                obj['keys' + idx] = data;
                if (idx == items.length - 1) {
                  this.desserts.push(obj)
                }
              }
            })
          })
          this.headers.map((item) => {
            this.json_fields[item[Object.keys(item)[0]]] = item.value
          })
        })

      },
      onChange2() {
        this.sheets2 = []
        this.ChooseSheet2 = ''
        this.Exec = false
        readXlsxFile(this.file2[0], {getSheets: true}).then((sheets) => {
          this.sheets2 = sheets
        })
      },
      ChooseSheetAction2() {
        this.headers2 = []
        this.desserts2 = []
        this.Exec = false
        readXlsxFile(this.file2[0], {sheet: this.ChooseSheet2}).then((row) => {
          row.map((items, index) => {
            var obj = {};
            items.map((data, idx) => {
              if (index == 0) {
                this.headers2.push({
                  text: data,
                  value: 'keys' + idx,
                  checked: false
                })
              } else {
                obj['keys' + idx] = data;
                if (idx == items.length - 1) {
                  this.desserts2.push(obj)
                }
              }
            })
          })
        })
      },
      execData() {
        this.ExecData = []
        this.Exec = false
        const DataToMatch = this.headers.filter(data_i => data_i.value == this.headerChoose)
        const DataToMatch2 = this.headers2.filter(data_i => data_i.value == this.headerChoose2)
        var CheckMatch = false
        // const DataChange = this.headers.filter(data_i => data_i.value == this.row)
        // const DataChange2 = this.headers2.filter(data_i => data_i.value == this.row2)
        DataToMatch.map(itemChecked => {
          this.desserts.map(item => {
            CheckMatch = false
            for (var i = 0 ; i <= Object.keys(item).length - 1; i++){
              if (Object.keys(item)[i] == itemChecked.value) {
                DataToMatch2.map(itemChecked2 => {
                  this.desserts2.map(item2 => {
                    for (var o = 0 ; o <= Object.keys(item2).length - 1; o++){
                      if (Object.keys(item2)[o] == itemChecked2.value) {
                        if (Object.keys(item)[o] == Object.keys(item2)[o]) {
                          if(item[Object.keys(item)[i]].toString().trim() == item2[Object.keys(item2)[o]].toString().trim()) {
                            item[this.row] = item2[this.row2]
                            item.Match = true
                            CheckMatch = true
                          }
                        }
                      }
                    }
                  })
                  if (!CheckMatch) {
                    item.Match = false
                  }
                })
              }
            }
          })
        })
        this.Exec = true
      },
      save() {
        this.snack = true
        this.snackColor = 'success'
        this.snackText = 'บันทึกข้อมูลสำเร็จ'
      },
      cancel() {
        this.snack = true
        this.snackColor = 'error'
        this.snackText = 'ยกเลิก'
      },
      open() {
        this.snack = true
        this.snackColor = 'info'
        this.snackText = 'เปิดการแก้ไข'
      },
      close() {
        console.log('Dialog closed')
      },
    }
  };
</script>